/* Utilities */
.ispinner {
  position: relative;
  width: 30px;
  height: 30px; }
  .ispinner .ispinner__blade {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    -webkit-animation: ispinner__blade--fade 1s linear infinite;
    animation: ispinner__blade--fade 1s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }
    .ispinner .ispinner__blade:nth-child(1) {
      -webkit-animation-delay: -1.66667s;
      animation-delay: -1.66667s;
      -webkit-transform: rotate(30deg) translate(0, -150%);
      transform: rotate(30deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(2) {
      -webkit-animation-delay: -1.58333s;
      animation-delay: -1.58333s;
      -webkit-transform: rotate(60deg) translate(0, -150%);
      transform: rotate(60deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(3) {
      -webkit-animation-delay: -1.5s;
      animation-delay: -1.5s;
      -webkit-transform: rotate(90deg) translate(0, -150%);
      transform: rotate(90deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(4) {
      -webkit-animation-delay: -1.41667s;
      animation-delay: -1.41667s;
      -webkit-transform: rotate(120deg) translate(0, -150%);
      transform: rotate(120deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(5) {
      -webkit-animation-delay: -1.33333s;
      animation-delay: -1.33333s;
      -webkit-transform: rotate(150deg) translate(0, -150%);
      transform: rotate(150deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(6) {
      -webkit-animation-delay: -1.25s;
      animation-delay: -1.25s;
      -webkit-transform: rotate(180deg) translate(0, -150%);
      transform: rotate(180deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(7) {
      -webkit-animation-delay: -1.16667s;
      animation-delay: -1.16667s;
      -webkit-transform: rotate(210deg) translate(0, -150%);
      transform: rotate(210deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(8) {
      -webkit-animation-delay: -1.08333s;
      animation-delay: -1.08333s;
      -webkit-transform: rotate(240deg) translate(0, -150%);
      transform: rotate(240deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(9) {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
      -webkit-transform: rotate(270deg) translate(0, -150%);
      transform: rotate(270deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(10) {
      -webkit-animation-delay: -0.91667s;
      animation-delay: -0.91667s;
      -webkit-transform: rotate(300deg) translate(0, -150%);
      transform: rotate(300deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(11) {
      -webkit-animation-delay: -0.83333s;
      animation-delay: -0.83333s;
      -webkit-transform: rotate(330deg) translate(0, -150%);
      transform: rotate(330deg) translate(0, -150%); }
    .ispinner .ispinner__blade:nth-child(12) {
      -webkit-animation-delay: -0.75s;
      animation-delay: -0.75s;
      -webkit-transform: rotate(360deg) translate(0, -150%);
      transform: rotate(360deg) translate(0, -150%); }
  .ispinner.ispinner--animating .ispinner__blade {
    -webkit-animation-play-state: running;
    animation-play-state: running; }
  .ispinner.ispinner--white .ispinner__blade {
    background-color: white; }
  .ispinner.ispinner--gray .ispinner__blade {
    background-color: #8C8C8C; }
  .ispinner.ispinner--large {
    width: 35px;
    height: 35px; }
    .ispinner.ispinner--large .ispinner__blade {
      width: 8.57143%;
      height: 25.71429%;
      border-radius: 50%/16.67%; }

@-webkit-keyframes ispinner__blade--fade {
  0% {
    opacity: 0.85; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 0.25; } }
@keyframes ispinner__blade--fade {
  0% {
    opacity: 0.85; }
  50% {
    opacity: 0.25; }
  100% {
    opacity: 0.25; } }

.notifyjs-corner {
  z-index: 100500;
}

.FlashMessage {
    margin: 20px 20px 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}
.FlashMessage--success {
  border: 1px solid #4FBD33;
  background: #68DE4B;
}
.FlashMessage--error {
  border: 1px solid #BD3333;
  background: #DE4B4B;
  color: #fff;
}

.Breadcrumbs {
  padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0 10px 0;
}
.Breadcrumbs > span {
  font-weight: bold;
}

.BasicForm__row {
  margin-bottom: 20px;
}
.BasicForm__row input[type="text"],
.BasicForm__row input[type="password"],
.BasicForm__row input[type="number"],
.BasicForm__row input[type="email"],
.BasicForm__row input[type="number"],
.BasicForm__row textarea {
  width: 100%;
}

.PostMisconfigured {
  background: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
}

/* Popup */
.Popup {

}
.Popup__container {
  width: 423px;
  min-height: 110px;
  background: #fff;
  margin: 130px auto;
  box-shadow: 1px 1px 8px #9cdfff;
}
.Popup__title-wrap {
  position: relative;
  padding: 15px;
}
.Popup__title-wrap .tb-close-icon {
  color: #66b4da;
}
.Popup__close {
  cursor: pointer;
}
.Popup__body {
  width: 383px;
  padding: 8px 20px;
  text-align: justify;
}


.Dialog__overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100000;
}
.Dialog, .Popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100001;
  overflow-y: auto;
}
.Dialog__container {
  width: 783px;
  min-height: 400px;
  background: #fff;
  margin: 40px auto;
}
.Dialog__title-wrap {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.Dialog__title {
    font-weight: bold;
    font-size: 14px;
}
.Dialog__title-wrap .tb-close-icon {
    top: 9px;
    right: 5px;
    cursor: pointer;
}
.Dialog__body {
  position: relative;
  width: 783px;
}
.Dialog__body > .ispinner {
  margin: 130px auto;
}


.full-width {
  width: 100%;
}

.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.Posting {
  text-align: center;
}
.Posting__header {
  font-size: 4em;
}
.Posting__subheader {
  font-size: 2em;
}

.Posting__buttons {
  margin-top: 40px;
}
/* .wp-core-ui .Posting__post-button, .wp-core-ui .Posting__page-button {
    font-size: 2.6em;
    padding: 40px;
    height: auto;
} */
/* .wp-core-ui .Posting__post-button {
  margin-right: 80px;
}
 */

/* Posting Form */
.PostForm {
  padding-right: 20px;
}

.PostForm--error {
  color: #CC332A !important;
}
.PostForm--error input {
  border-color: #FFA39D !important;
}
.PostForm__error {
  display: block;
  padding-top: 10px;
    font-size: 14px;
    color: #CC332A;
}

.PostForm__title-wrap {
  margin-top: 20px;
}

.PostForm__title-wrap input,
.PostForm__name-wrap input {
  padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}

.keyword_input {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

.keyword_input input {
  height: 1.7em;
}

.PostForm__name-wrap input {
  padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: 0;
    margin: 0 0 3px;
    background-color: #fff;
}

.PostForm__buttons {
  margin-top: 20px;
}

.PostForm__boxes {
  padding-top: 40px;
}

.PostForm__boxes .form-table:not(:first-child) {
    border-top: 1px dashed #ddd;
}


/* Pixabay */
.PixabayKeyWarning {
  padding: 10px;
    background: #eee;
    border: 1px solid #ddd;
    color: #555;
}

.PixabayWrap {
}

.PixabaySearch {
  padding: 15px;
  border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.PixabaySearch > input {
  width: 684px;
}

#pixabay-search-images, #youtube-search-videos {
  overflow-y: auto;
    height: 400px;
}
#pixabay-search-images .ispinner, #youtube-search-videos .ispinner {
  display: none;
  margin: 130px auto;
}

#pixabay-images, #youtube-videos {
  padding: 10px;
}

.Pixabay__image, .Youtube__video {
    width: 140px;
    text-align: center;
    line-height: 154px;
    height: 154px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.Youtube__video {
  width: 368px;
  height: 200px;
}
.Youtube__video:nth-child(2n) {
  margin-right: 0;
}
.Pixabay__image:nth-child(5n) {
  margin-right: 0;
}
.Pixabay__image img {
  width: 140px;
  vertical-align: middle;
}
.Youtube__video img {
  width: 368px;
  vertical-align: middle;
}
.Pixabay__image i.fa, .Youtube__video i.fa {
  display: none;
  position: absolute;
    top: 5px;
    left: 5px;
    font-size: 24px;
    background: #0085BA;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #006799;
    padding: 6px;
}
.Pixabay__image--selected, .Youtube__video--selected {

}
.Pixabay__image--selected i.fa, .Youtube__video--selected i.fa {
  display: block;
}

.Youtube__title {
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.21);
  color: #fff;
  bottom: 0;
  line-height: normal;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Pixabay__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.12);
}
.Pixabay__wrapper > .ispinner {
  margin: 220px auto 0;
}

.Pixabay__body {
  padding: 10px;
}

.Pixabay__footer {
  height: 30px;
  padding: 15px;
    border-top: 1px solid #ddd;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
}

.Pixabay__status {
  font-size: 14px;
    padding-top: 7px;
}

.Pixabay__buttons {
  position: relative;
}

.Pixabay--empty {
  padding: 180px;
  text-align: center;
  font-size: 16px;
  color: #777;
}

.Pixabay__shortcode-wrap {
    display: none;
    position: absolute;
    bottom: 40px;
    left: -58px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

#exif-addresses {
    padding: 10px 0 0;
}
.ExifAddress {
    display: inline-block;
    padding: 5px 25px 5px 10px;
    background: #0085BA;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
}
.ExifAddress__delete {
    color: #8CBFD4 !important;
    top: 4px;
}
.ExifAddress__delete:hover {
    color: #fff !important;
}

#edit-slug-box input {
    font-size: 13px;
    font-weight: 400;
    height: 22px;
    margin: 0;
    width: 16em;
}

#tagsinput {
    width: 180px;
}

.editor-hidden {
  display: none;
}

/* Projects */
.WHProject--highlight {
  background: #FBFFB6 !important;
}

/* Word AI */
.text-center {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}
.form-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form-group .form-column-4 {
  float: left;
  width: 33%;
}
.form-group .control-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
.form-group .form-control {
  width: 100%;
}
.form-group .help-block {
  display: block;
  margin-top: 10px;
  color: #666;
  font-size: 12px;
}

/* Paginations */
.workhorse-page .pagination-links {
    display: block;
    padding: 10px 0;
}

/* Buttons */
a.button-primary.button-danger,
a.button-primary.button-danger:focus {
    background: #ba3400;
    border-color: #aa2f00 #993100 #992a00;
    -webkit-box-shadow: 0 1px 0 #992300;
    box-shadow: 0 1px 0 #992300;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #992a00,1px 0 1px #993400,0 1px 1px #992a00,-1px 0 1px #992700;
}

a.button-primary.button-danger:hover {
    background: #c24800;
    border-color: #994700;
    color: #fff;
}

a.button-primary.button-danger:active {
    background: #aa2f00;
    border-color: #992a00;
    -webkit-box-shadow: inset 0 2px 0 #993100;
    box-shadow: inset 0 2px 0 #993100;
    vertical-align: top;
}
/* .category_workhorse{
    max-width: 400px;
    margin: auto;
    border: 2px solid #32373c;
    border-radius: 5px;
    padding: 20px 10px;
}
.category_workhorse span{
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    float: left;
    margin-bottom:6px;
} */
.category_workhorse span input{
    float:left;
    margin: auto;
}
.category_workhorse span label{
    float:left;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}
/* .add_cat{
    max-width: 400px;
    display: block;
    float: left;
    width: 100%;
} */
.add_cat form{
    margin-top: 16px;
}
/* .add_cat input[type="text"]{
    width: 80%;
    display: block;
    margin: auto;
} */
/* .add_cat input[type="submit"]{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
    background: #007cba;
    border-color: #007cba;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    border: 1px solid #007cba;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
} */



.figma_testing{
  
  position: absolute;
  width: 139px;
  height: 36px;
  left: 300px;
  top: 49px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

  color: #000000;

}
